<div class="animate__animated animate__fadeIn animate__faster">
    <section id="hero" class="s-hero target-section">

        <div class="s-hero__bg rellax" data-rellax-speed="-7"></div>

        <div class="row s-hero__content">
            <div class="column">

                <div class="s-hero__content-about">

                    <h1>¡Hola, soy Sergio!</h1>

                    <h3>
                        Soy desarrollador <span>Backend ASP.NET C#</span>, <span></span> y recientemente
                        <span>Angular.</span> Siguiendo las mejores praticas, <a class="smoothscroll" href="#"> y
                            con gran motivación para innovar</a>

                    </h3>

                    <div class="s-hero__content-social">
                        <a href="#0"><i class="fab fa-github" aria-hidden="true"></i></a>
                    </div>

                </div> <!-- end s-hero__content-about -->

            </div>
        </div> <!-- s-hero__content -->


    </section> <!-- end s-hero -->
</div>