<header class="s-header">
    <div class="row s-header__nav-wrap">
        <nav class="s-header__nav">
            <ul>
                <li class="current"><a routerLink="" 
                    routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact:true}" class="smoothscroll">Incio</a></li>
                <li><a routerLink="acerca" routerLinkActive="active" class="smoothscroll">Acerca</a></li>
            </ul>
        </nav>
    </div> <!-- end row -->

    <a class="s-header__menu-toggle" href="#0" title="Menu">
        <span class="s-header__menu-icon"></span>
    </a>
</header> 