<!-- about
    ================================================== -->
<div class="animate__animated animate__fadeIn animate__faster">
    <section id="about" class="s-about target-section">

        <div class="row">
            <div class="column large-3 tab-12">
                <img class="s-about__pic" src="images/avatars/user-06.jpg" alt="">
            </div>
            <div class="column large-9 tab-12 s-about__content">
                <h3>Acerca de mí</h3>
                <p>
                    =)
                </p>

                <hr>

                <div class="row s-about__content-bottom">
                    <div class="column w-1000-stack">
                        <h3>Contacto</h3>

                        <p>
                            Sergio Torres Jiménez <br>
                            CDMX <br>
                            <a href="tel:+525588056346">+52 55 8805 6346</a> <br>
                            <a href="mailto:#0">devtorresj@hotmail.com</a>
                        </p>

                    </div>
               
                </div>
            </div>
        </div> <!-- end row -->

    </section> <!-- end s-about -->
</div>